@(title: String)

@layouts.main(title) {
    <h3>@title</h3>
    <table width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Raka</td>
                <td>Teja</td>
                <td>
                    <a href="#">View</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
}